.left {
    float: left;
    width: 596px;
    min-height: 600px;
}

.right {
    margin-left: 610px;
    min-height: 600px;
}

.board-container {
    height: 560px;
    background-color: #DEF;
    border-radius: .3em;
    box-shadow: 0 0 .4em rgba(0,0,0,.1);
}

.board-controls {

}

.player-container img {
    height: 15px;
    width: 15px;
}

.player-info span {
    margin: 5px 5px 0px 0px;
}

.resources-container {
    vertical-align: top;
}

/* .chat-container {
    display: inline-block;
    width: 500px;
    border-radius: .3em;
    box-shadow: 0 0 .4em rgba(0, 0, 0, 0.1);
    padding: 13px 0px 0px 0px;
    background-color: lightgrey;
}

.chat-log {
    width: 473px;
    height: 250px;
    overflow-y: scroll;
    margin: 0px 10px;
    background-color: #FFF;
    border-radius: .3em;
    padding: 5px;
    box-sizing: border-box;
}

.chat-input {
    background-color: #FFF;
}

.chat-controls {
    margin: 5px;
    text-align: center;
}

.action-container, .options-container {
    margin: 30px;
    clear: left;
}

.hidden {
    display: none;
}

.intersection {
    fill-opacity: 0;
}

.intersection.highlight {
    fill: goldenrod;
    fill-opacity: 1;
}

.intersection.highlight:hover {
    fill: green;
}

.edge {
    stroke: transparent;
    stroke-width: 5px;
}

.edge.highlight {
    stroke: goldenrod;
}

.edge.highlight:hover {
    stroke: green;
}

.brick-tile {
    fill: #82251A;
}

.sheep-tile {
    fill: #7CBE57;
}

.stone-tile {
    fill: #43656D;
}

.wheat-tile {
    fill: #E9BE64;
}

.wood-tile {
    fill: #6D4F29;
}

.desert-tile {
    fill: #8B7C6B;
}

img.resource-card {
    border: 2px solid transparent;
    margin-right: 5px;
}

img.resource-card.highlight {
    border: 2px solid pink;
} */
