<!DOCTYPE html>
<html>
    <head>
        <title>Catan Machine Learning</title>

        <!--------------------------------->
        <!--------REQUIRED META TAGS------->
        <!--------------------------------->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--------------------------------->
        <!--------BOOTSTRAP STYLING-------->
        <!--------------------------------->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--------------------------------->
        <!--------PERSONAL STYLING--------->
        <!--------------------------------->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/board.css">
    </head>
    <body>
        <!--------------------------------->
        <!--------NAVIGATION BAR----------->
        <!--------------------------------->        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand gradient-text2" href="index.html">CATAN MACHINE LEARNING</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="elastic.html">ElasticNet</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="lasso.html">Lasso</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="linear.html">Linear Regression</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="rf.html">Random Forest</a>
                </li>
            </ul>
            </div>
        </nav>

        <!------------------------------>
        <!----------BODY CODE----------->
        <!------------------------------>
        <!-- <div id="bar" class="float-right col-md-7 mt-4 mr-3"></div> -->
        <div class="container">
            <h1>Machine Learning with Catan</h1>
            <hr>
            <!-- <img src="static/images/box.jpg" class="float-left" width="400"> -->
            In this popular board game players build settlements, cities, and roads to connect them as they settle the island. The game board, which represents the island, is composed of hexagonal tiles of different land types which are laid out randomly at the beginning of each game. Newer editions of the game began to depict a fixed layout in their manual and recommend this to be used by beginners. In 2016, editions of the game were released with a conventional fixed layout board in this configuration, the hexes of which cannot be rearranged.
            <br><br>
            Here we explore if a winner can be predicted by initial settlement placement or if there are other factors which play a more significant role in winning.
            <br><div class="row justify-content-center mt-1">
            <!-- <img src="static/images/board.jpg" style="border-radius: 5px;box-shadow: -1px 1px 4px #00000059;"> -->
            <div class='board' ng-app='catan' ng-controller='Board as b'>
                <div ng-repeat='r in b.board'>
                  <div ng-repeat='c in r' ng-attr-class='{{ c.class }}'><span>{{ c.letter }}</span></div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
            Board modified from &nbsp;<a href="https://codepen.io/pottersson/pen/rusvC">Potterson at CodePen</a></div>
        </div>
              

    <!--------------------->
    <!---JAVASCRIPT CODE--->
    <!--------------------->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="static/js/logic.js"></script>
    </body>
</html>
